body {
	background: url(http://th3zero.altervista.org/img/background.jpg) no-repeat fixed center center;
	font-family: 'segoe ui', trebuchet ms, arial; 
	font-size: 9pt; 
	color: #777;
	position:relative;
	margin: 0;
	padding: 0;
}

a:link, a:visited {text-decoration: none; color: #D1FF2B}
a:hover {color: #005873}
hr {color: blue}
pre {font-size: 12px} 
table, div {font-size: 9pt; color: #777; border-spacing: 0}


/* Content Skin */

.skin_tbl_width, .skin_tbl {width: 97.2%; margin-left: 5px}
.mtitle {text-align: left; font-size: 12pt; padding-bottom: 3px; color: #D0D0D0}

.mback {height: 42px}
.msub {height: 42px}

.mback_left {width: 24px; background:url(../img/mback_left.png); background-repeat: no-repeat; background-position: bottom}
.mback_center {background:url(../img/mback_center.png); background-repeat: repeat-x; background-position: bottom}
.mback_right {width: 24px; background:url(../img/mback_right.png); background-repeat: no-repeat; background-position: bottom}

.msub_left {width: 24px; background:url(../img/msub_right.png); background-repeat: no-repeat; background-position: bottom}
.msub_center {background:url(../img/msub_center.png); background-repeat: repeat-x; background-position: bottom}
.msub_right {width: 24px;  background:url(../img/msub_left.png); background-repeat: no-repeat; background-position: bottom}

.mleft_top {width: 1px; height: 42px; background:url(../img/mleft_top.png); background-repeat: no-repeat}
.mleft {width: 1px; background-color: #1F1F1F; background-image: none; /*background-image: url(http://skin.forumfree.net/1867/border.png);*/ }
.mleft_bottom {width: 1px; height: 1px;  background:url(../img/mleft_bottom.png); background-repeat: no-repeat}

.mright_top {width: 1px; height: 42px; background:url(../img/mleft_top.png); background-repeat: no-repeat}
.mright {width: 1px; background-color: #1F1F1F; background-image: none; /* background-image: url(http://skin.forumfree.net/1867/border.png);*/}
.mright_bottom {width: 1px; height: 1px; background:url(../img/mleft_bottom.png); background-repeat: no-repeat}

.ww {background-color: #1F1F1F; background-image: none;}

.container{
	margin: 0pt auto;
	margin-left:213px;
	width:950px;
}

#header{
	background: url(../img/hdr-bkg.png) repeat-x scroll;
	height:181px;
	position:absolute;
	z-index :100;
	top: 0px;
	left:0px;
	width:100%;
}

#page {
	margin-left: 50px;

}

#cit{
	margin-top: 60px;
	color: #222222;
	text-shadow: 1px 1px 1px #CCC;
	font-size: 12pt;
	font-style: italic;
	font-weight: bolder;
}

#p_title{
	color: #CCC;
	text-shadow: 1px 1px 1px #777777;
	font-size: 12pt;
	font-weight: bolder;
}

.pub:hover {
left: -5px;
}


.pub{
position:fixed;
z-index:110;
top: -5px;
left: -125px;
padding: 5px 5px;
background: rgba(255,0,0,0.5);
opacity: .9;
	
	/* Border Radius */
	-webkit-border-radius: 0px 0px 8px 0px;
	-moz-border-radius: 0px 0px 8px 0px;
	border-radius: 0px 0px 8px 0px;
	
	/* Border Shadow */
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
	box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
	
	/* Animation (Webkit, Gecko & Mozilla) */
	-webkit-transition-duration: 0.20s;
	-webkit-transition-timing-function: ease-out; 
	-moz-transition-duration: 0.20s;
	-moz-transition-timing-function: ease-out; 
}

#navigation{
	height:60px;
}

#home, #home div, 
#programmi, #programmi div, 
#chat, #chat div, 
#tool, #tool div, 
#contact,  #contact div {
	height:80px;
	position:absolute;
	width:97px;
	float:left;
}

#home, #programmi, #chat, #tool, #contact{
	background-image: url(../img/nav.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	top:171px;
}

#home{
	background-position: 0px -25px;
	margin-left:6px;
}

#programmi{
	background-position: -98px -25px;
	margin-left:105px;
}

#chat{
	background-position: -196px -25px;
	margin-left:204px;
}

#tool{
	background-position: -294px -25px;
	margin-left:303px;
}

#contact{
	background-position: -392px -25px;
	margin-left:402px;
}

#home div, #programmi div, #chat div, #tool div, #contact div {
	background-image: url(../img/white.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px -60px;	
}	

.pri-nav a{
	display:block;
	text-decoration:none;
	text-indent:-30000px;
}

.content{
	margin-top:160px;
}

#content-title{
	/* background: url(../img/content-title.png) no-repeat scroll; */
	height:323px;
	position:relative;
	margin-left:0px; 
	width:100%;
}

#content-a{
    width:915px ;
    margin-top:0px;
    margin-left:0px;
	position:absolute;
}

#f_up {z-index: 2000; position: fixed; bottom: 20px; right: 1%; opacity: .9}

/* For CSS SocialApps */
	
#twitter {
	z-index: 2000;
	position: fixed;
	top: 20px;
	right: -180px;
	opacity: .9
	
	
	/* Border Radius */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	/* Border Shadow */
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
	box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
	
	/* Animation (Webkit, Gecko & Mozilla) */
	-webkit-transition-duration: 0.20s;
	-webkit-transition-timing-function: ease-out; 
	-moz-transition-duration: 0.20s;
	-moz-transition-timing-function: ease-out; 
	
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	display: inline-block;
	padding: 5px 15px;
	outline: none;
	text-decoration: none;
}

	#twitter:hover {
		background: rgba(0,0,0,0.5);
		padding: 5px 25px;
	}

