body{
	font-family: "Trebuchet MS", "Segoe UI", sans-serif;
	font-size: 12pt;
	color: #444;
	border: 0 none;
	margin: 0;
	text-decoration: none;
}

.social{color:#333;padding-right:2%;}
.social:hover{color:#666;text-decoration:none;}

.text-center {
    text-align: center;
}

#download, #info {
	margin-top:60px;
}

.team {
	padding: 4px;
	line-height: 1.42857;
	background-color: rgb(240, 240, 240);
	border: 1px solid rgb(221, 221, 221);
}

footer {
    margin: 0 auto !important;
    width: 100% !important;
    color: #777777 !important;
    font-size: 10pt;
    padding: 40px 0 30px 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
    border-top: 1px solid rgb(229, 229, 229);
    border: 0 !important;
	border-radius: 0 !important;
}

#content-wrapper {
	height: 2600px;
	text-align: center;
}

