<div class="jumbotron jb midnighblue">
  <div class="container">
    <footer class="row">
      <div class="col-md-6 col-xs-12">
        <strong>Contacts</strong><br/>
        PGP: <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0xF628F9E41DD7C073" target="_blank">7160 27C8 863D DF61 DFE5  ED3D F628 F9E4 1DD7 C073</a><br/>
        Email: <a href="mailto:io@thezero.org">io@thezero.org</a><br/>
        KeyBase: <a href="https://keybase.io/thezero" target="_blank">thezero</a><br/>
      </div>
      <div class="col-md-6 col-xs-12">
        <strong>Social</strong><br/>
        Github: <a href="https://github.com/TheZ3ro" target="_blank">@TheZ3ro</a><br/>
        Twitter: <a href="https://twitter.com/Th3Zer0" target="_blank">@Th3Zer0</a><br/>
        Bitcoin: 1HLaDgzd6maSFJbSCBC4hToEpGA5BNdN29<br/>
      </div>
    </footer>
  </div>
</div>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="./js/bootstrap.min.js"></script>